<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace必须是Mapper或dao接口的全限定包名-->

<mapper namespace="com.campus.secondhand.mapper.CategoryMapper">

    <select id="findAll" resultType="User">
        select *
        from Category
        order by  sort asc;
    </select>

    <select id="findById" resultType="Category">
        select *
        from category
        where id = #{id}
    </select>
    <!--id必须是Mapper或dao接口内的方法名-->
    <!--resultType必须是pojo类名-->
</mapper>